<div class="sidebar-left">
    <div class="logo">
      <img class="logo-circle" src="khyati_head_shot.jpeg" alt="khyati satija headshot">
    </div>
    
    <div class="social-links">
      <ul>
        <li *ngFor="let link of socialLinks">
          <div class="socials">
            <a [href]="link.url" target="_blank" [attr.aria-label]="link.name">
              <i [class]="link.icon"></i>
            </a>
            <span>{{link.name}}</span>
          </div>

        </li>
      </ul>
    </div>
    
    <div class="resume-button">
      <a href="Khyati_Satija_Resume.pdf" class="download-btn" download>
        <i class="fas fa-file-download"></i>
        <span>Resume</span>
      </a>
    </div>

</div>